html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

:global(.ant-modal-content) {
  height: 100%;
}
:global(.ant-modal-body) {
  height: calc(100% - 108px);
  overflow: auto;
}

.ant-form-horizontal .ant-form-item .ant-form-item-label label {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  white-space: normal;
  line-height: 1.2;
}
